<%= nav_at 'Customize Color' %>
<%= widget_id_meta %>
<div class="span6">
	<%= form_for @widget, url: wizard_path do |f| %>
		<div class="form-group input-append color colorpicker" data-color="rgb(255, 146, 180)" data-color-format="hex" id="cp3">
			<h1>Background Color</h1>
		  <input id="widget_background_color" name="widget[background_color]" type="text" value="#20252C">
		  <span class="add-on"><i style="background-color: rgb(255, 146, 180)"></i></span>
		</div>
		<%= link_to "Previous Step", previous_wizard_path, :class => "class" %> or <%= f.submit "Finish", class: "btn btn-success pjax" %>
	<% end %>
</div>
<% if @widget.size == "leaderboard" %>
	<div class="span12">
<% else %>
	<div class="span5">
<% end %>
		<%= render partial: "templates/widget_#{@widget.size}", locals: {widget: @widget} %>
	</div>
<%= render partial: 'embeds/widget_css', locals: {widget: @widget} %>