<%= nav_at 'Enter Project' %>
<div class="row">
  <div class="span12 control-group" id="input_field">
    <%= form_for @widget, url: wizard_path, method: :put do |f| %>
    <%= f.text_field :url, size: 20 %>
    <%= image_tag 'ajax-loader.gif', id: 'spinner' %>
  </div>
</div>



  
<div class="row">
  <div class="span8">
    <p>Please paste in a DonorsChoose project url. You can search for great projects at <%= link_to "DonorsChoose", "http://donorschoose.org", :target => "_blank" %>. Or, you can <%= link_to "get a random project.", "#", class: "random_project" %></p>
    <%= f.submit nil, class: "btn btn-primary btn-large pjax", id: "submit-project" %>
  </div>

  <div class="span4" id="status">
  </div>
  <% end %>
</div>