<%= nav_at 'Choose Size' %>
<div class="span12">
	<%= form_for @widget, url: wizard_path do |f| %>
	<%= render partial: 'embeds/widget_css', locals: {widget: @widget} %>
	<div class="row size-step">
		<div class="span3">
			<p class="size-label med">300x250<%= f.radio_button :size, "med-rect" %></p>
		</div>
		<div class="span3">
			<%= render partial: "templates/widget_med-rect", locals: {:widget => @widget} %>
		</div>
	</div>
	<div class="row size-step">
		<div class="span3">
			<p class="size-label rect">180x150<%= f.radio_button :size, "rect" %></p>
		</div>
		<div class="span3">
			<%= render partial: "templates/widget_rect", locals: {:widget => @widget} %>
		</div>
	</div>
	<div class="row size-step">
		<div class="span3">
			<p class="size-label wide">160x600<%= f.radio_button :size, "wide-sky" %></p>
		</div>
		<div class="span3">
			<%= render partial: "templates/widget_wide-sky", locals: {:widget => @widget} %>
		</div>
	</div>
	<div class="row size-step">
		<div class="span3 leader">
			<p class="size-label">728x90<%= f.radio_button :size, "leaderboard" %></p>
		</div>
		<div class="span3">
			<%= render partial: "templates/widget_leaderboard", locals: {:widget => @widget} %>
		</div>
	</div>
	<% end %>
</div>