<div class="dc-rect wi3-main">
  <div id='dc-donors-choose-widget' class='dc-rect-1'>
    <h3 class="dc-school-name"><%= widget.formatted_name %><span><%= widget.formatted_school %></span></h3>
    <div class="progress progress-success progress-striped dc-donations-bar-wrapper">
      <div class="dc-bar dc-donations-bar" style="width: <%= widget.percent_funded %>%;"></div>
    </div>
    <div class="dc-donations">
      <span class="dc-needed"><%= number_to_currency(widget.cost_to_complete) %></span>needed!
    </div>
    <%= render partial: 'templates/widget_buttons', locals: { :widget => widget } %>
  </div>
</div>