<div class="dc-wide-sky wi3-main" id="<%= widget.id %>">
  <div id='dc-donors-choose-widget' class='dc-wide-sky-1 clearfix'>
    <div>
      <h2 class="dc-school-name pull-left"><%= widget.formatted_name %><span><%= widget.formatted_school %></span></h2>
    </div>
    <img src='<%= widget.image_url %>' id='dc_project_img' />
    <div class="progress progress-success progress-striped dc-donations-bar-wrapper">
      <div class="dc-bar dc-donations-bar" style="width: <%= widget.percent_funded %>%;"></div>
    </div>
    <div class="dc-donations">
      <span class="dc-needed"><%= number_to_currency(widget.cost_to_complete) %></span>to go!
     </div>
    <p class="dc-description"><%= raw truncate(widget.fulfillment_trailer, :length => 175) %></p>
    <%= render partial: 'templates/widget_buttons', locals: { :widget => widget } %>
    <a href="http://donorschoose.org" target="_blank" id="dc_donate_button">
      <%= image_tag("DonorsChoose-org-logo.png", id: "dc_logo") %>
    </a>
  </div>
</div>