<div class="dc-leaderboard wi3-main">
  <div id='dc-donors-choose-widget' class='dc-leaderboard-1 clearfix'>
    <div class='pull-left' id="dc_project_img">
      <img src='<%= widget.image_url %>' />
    </div>
    <div class='pull-left'>
      <h2 class="dc-school-name"><%= widget.formatted_name %><span><%= widget.formatted_school %></span></h2>
      <div class="progress progress-success progress-striped dc-donations-bar-wrapper">
        <div class="dc-bar dc-donations-bar" style="width: <%= widget.percent_funded %>%;"></div>
      </div>
    </div>
    <div class='pull-right' id='dc-donate'>
      <span class="dc-needed">$<%= widget.cost_to_complete %></span>to go!<a class="donate btn btn-large btn-danger pull-right" href="<%= widget.proposal_url %>" target="_blank" data-id="<%= widget.id %>">Donate</a>
      <a href="http://donorschoose.org" target="_blank" id="dc_donate_button">
        <%= image_tag("DonorsChoose-org-logo.png", id: "dc_logo") %>
      </a>
    </div>
  </div>
</div>