<div class="dc-med-rect wi3-main" id="<%= widget.id %>">
  <div id='dc-donors-choose-widget' class='dc-med-rect-1 clearfix'>
    <h2 class="dc-school-name pull-left"><%= format_name(widget) %><span></span></h2>
    <p class="dc-description"><%= raw truncate(widget.fulfillment_trailer, :length => 150) %></p>
    <div class="progress progress-success progress-striped dc-donations-bar-wrapper">
      <div class="dc-bar dc-donations-bar" style="width: <%= widget.percent_funded %>%;"></div>
    </div>
    <div class="dc-donations">
      <span class="dc-given"><%= number_to_currency(widget.funding_needed) %></span>
       of <span class="dc-needed"><%= number_to_currency(widget.total_price) %></span>donated!
    </div>
    <%= render partial: 'templates/widget_buttons', locals: { :widget => widget } %>
    <a href="http://donorschoose.org" target="_blank" class="pull-left" id="dc_donate_button">
      <%= image_tag("DonorsChoose-org-logo.png", id: "dc_logo") %>
    </a>
  </div>
</div>