<div class="dc-wide-sky wi3-main">
  <div id='dc-donors-choose-widget' class='dc-wide-sky-1'>
    <h2 class="dc-school-name"><%= widget.formatted_name %></h2>
    <img src='<%= widget.image_url %>' id='dc_project_img' />
    <div class="progress progress-success progress-striped dc-donations-bar-wrapper">
      <div class="dc-bar dc-donations-bar" style="width: <%= widget.percent_funded %>%;"></div>
    </div>
    <div class="dc-donations">
      <span class="dc-needed">$<%= widget.cost_to_complete %></span>to go!
     </div>
    <p class="dc-description"><%= raw truncate(widget.fulfillment_trailer, :length => 175) %></p>
    <a class="dc-donate btn btn-large btn-danger pull-right" href="<%= widget.proposal_url %>" target="_blank" data-id="<%= widget.id %>">Donate</a>
    <a href="http://donorschoose.org" target="_blank" id="dc_donate_button">
      <%= image_tag("DonorsChoose-org-logo.png", id: "dc_logo") %>
    </a>
  </div>
</div>