<%= widget_id_meta %>

<%= render partial: 'embeds/widget_css', locals: {widget: @widget} %>
<%= render partial: "templates/widget_#{@widget.size}", locals: {widget: @widget}  %>

<p>Copy and paste this code into your website's HTML to embed this widget on your page:</p>
<div id="widgettest" class='btn'>Copy to clipboard</div><br><br><pre id="embed-code"><%= @widget.embed_code %></pre>
<br>
<p>This widget has been displayed <%= @widget.total_showings %> times, and has been
	clicked on <%= @widget.total_clicks %> times.</p>
<p>Track this widget's stats here! <%= widget_url(@widget) %></p>


