<!DOCTYPE html>
<html>
<head>
  <title>DonorsWidget</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header_in' %>
<div class="container">
<p>Current user: <%= current_user ? current_user.email : "Logged out." %></p>
<%= flash[:notice] if flash.any? %>
<%= yield %>
</div>
</body>
</html>
