<!DOCTYPE html>
<html>
<head>
  <title>DonorsWidget</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="https://use.typekit.com/txe0iyw.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header_in' %>
  <div class="container">
    <%= flash[:notice] if flash.any? %>
    <%= yield(:breadcrumb_nav) %>
    <div class="pull-left" data-pjax-container>
      <%= yield %>
    </div>
  </div>
</body>
</html>